button {
    background-color: #19B5FF;
    color: white;
    border: 5px solid #1A4052;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #1A4052;
    color: #19B5FF;
}